<?xml version="1.0" encoding="windows-1252"?>

<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
           xmlns:shell="http://karaf.apache.org/xmlns/shell/v1.0.0"
           xmlns:cm="http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.1.0"
           xmlns:ext="http://aries.apache.org/blueprint/xmlns/blueprint-ext/v1.0.0">

    <!-- Allow usage of System properties, especially the karaf.base property -->
    <ext:property-placeholder placeholder-prefix="$[" placeholder-suffix="]"/>

    <!-- Need all the deployment listeners -->
    <reference-list id="deploymentListeners"
                    interface="org.ow2.petals.cloud.manager.api.listeners.DeploymentListener"
                    availability="optional"
                    activation="eager"/>

    <bean id="cloudmanager-dsb"
          class="org.ow2.petals.cloud.manager.dsb.MasterSlaveDeploymentProvider">
        <argument ref="deploymentListeners"/>
    </bean>

    <!-- Expose -->
    <service ref="cloudmanager-dsb" interface="org.ow2.petals.cloud.manager.api.deployment.tools.DeploymentProvider"/>

</blueprint>